<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>abc-school</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <html xmlns:th="http://www.thymeleaf.org">
  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <script src="/assets/js/country.js"></script>
  
 
  </head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

     <div class="d-flex align-items-center justify-content-between">
       <a href="/index" class="logo d-flex align-items-center">
         <img src="assets/img/logo.png" alt="">
         <span class="d-none d-lg-block">MainPage</span>
       </a>
       <i class="bi bi-list toggle-sidebar-btn"></i>
     </div><!-- End Logo -->

     
     <nav class="header-nav ms-auto">
       <ul class="d-flex align-items-center">

        

         
        
         <li class="nav-item dropdown pe-3">

           <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            
			 <i class="fa fa-graduation-cap" width="100" height="100"></i>
             <span th:text="${username}">GUEST</span>
           </a><!-- End Profile Iamge Icon -->

          
         </li><!-- End Profile Nav -->

       </ul>
     </nav><!-- End Icons Navigation -->

   </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/index}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

     <!-- End Components Nav -->

      <!-- End Forms Nav -->

      <!-- End Tables Nav -->

      <!-- End Charts Nav -->

      <!-- End Icons Nav -->

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/countries}">
          <i class="bi bi-person"></i>
          <span>Teachers</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/states}">
			<i class="bi bi-person"></i>
          <span>Students</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/login}">
			<i class="bi bi-person"></i>
          <span>Admin</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/states1}">
          <i class="bi bi-card-list"></i>
          <span>Resources</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/login}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li><!-- End Login Page Nav -->

      

    </ul>

  </aside><!-- End Sidebar-->


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Teacher Page</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Teacher</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
	<input type="text" id="studentName" name="class" th:value="${username}" style="display: none;">
	<input type="text" id="myId" name="class" th:value="${authorities1}" style="display: none;">
			  								
											<button onclick="teacherDetails()" style="transition: transform 0.3s ease;border-radius: 20px;background-color: green; "  onmouseover="this.style.transform='scale(1.5)';"  onmouseout="this.style.transform='scale(1)';">
												    <i class="fa fa-refresh" alt="Button" width="5000" height="50">											
														<h12 style="color: blue; font-size: 36px; text-align: center; font-family: Arial, sans-serif;">
												  refresh
												</h12>
														
													</i>
												</button>
												<button onclick="classAndExamDiv()" style="transition: transform 0.3s ease;border-radius: 20px; background-color: green;"  onmouseover="this.style.transform='scale(1.5)';"  onmouseout="this.style.transform='scale(1)';">
																								   <h12 style="color: blue;font-size: 26px;font-weight:bold;font-family: Arial, sans-serif;">STUDENT CLASS</h12>
																								</button>
    <section class="section" >
      <div class="row" id="teacherDiv" style="display: none;">
        <div class="col-lg-6" style="width: 70%;">

          <div class="card">
            <div class="card-body" >
              
			  <p onload="showCountries()">
			     
			      <ul id="countryList"></ul>
			  </p>
			  
			  
			  
			  
			  
			 
														
																
														</div>
              
			
			  <div id="classexam" style="display: none;">
			  <form id="classandexam"  method="GET" >
			          <!-- First Dropdown: State -->
			          <label for="state" style="font-size: 18px;font-weight: bold;color: #333;font-family: Arial, sans-serif;">Choose Class:</label>
			          <select name="classnumber" id="classnumber">
						
						<option value="11">ONE RED </option>
						<option value="12">ONE BLUE</option>
						<option value="13">ONE GREEN</option>
						<option value="14">ONE YELLOW </option>
						
						<option value="21">TWO RED </option>
						<option value="22">TWO BLUE </option>
						<option value="23">TWO GREEN </option>
						<option value="24">TWO YELLOW </option>
						
						<option value="31">THREE RED </option>
						<option value="32">THREE BLUE </option>
						<option value="33">THREE GREEN </option>
						<option value="34">THREE YELLOW</option>
						
						<option value="41">FOUR RED </option>
						<option value="42">FOUR BLUE </option>
						<option value="43">FOUR GREEN</option>
						<option value="44">FOUR YELLOW</option>
						
						<option value="51">FIVE RED </option>
						<option value="52">FIVE BLUE </option>
						<option value="53">FIVE GREEN </option>
						<option value="54">FIVE YELLOW </option>

						
						<option value="61">SIX RED </option>
						<option value="62">SIX BLUE</option>
						<option value="63">SIX GREEN </option>
						<option value="64">SIX YELLOW</option>

			              <option value="71">SEVEN RED </option>
			              <option value="72">SEVEN BLUE</option>
			              <option value="73">SEVEN GREEN</option>
			              <option value="74">SEVEN YELLOW</option>
						  
						  
						  <option value="81">EIGHT RED </option>
						  <option value="82">EIGHT BLUE</option>
						  <option value="83">EIGHT GREEN</option>
						  <option value="84">EIGHT YELLOW</option>
			          </select>
			          <br><br>

			          <!-- Second Dropdown: Capital -->
			          <label for="capital" style="font-size: 18px;font-weight: bold;color: #333;font-family: Arial, sans-serif;">Choose Exam:</label>
			          <select name="examtype" id="examtype">
			              <option value="jesma">JESMA</option>
			              <option value="targeter">TARGETER</option>
			             
			          </select>
			          <br><br>

			          <!-- Submit Button -->
			          <input type="submit" value="SELECT" style="border-radius: 20px;font-size: 18px;font-weight: bold;color: #333;font-family: Arial, sans-serif;">
			      </form>
				  </div>
				  
				   <table  class="table table-striped table-advance table-hover"  >
				  				                 <tbody>
				  				                   <tr>

				  				                     
				  <th><i class="icon_table"></i>EXAM</th>
				  <th><i class="icon_table"></i> FULLNAME</th>
				   <th><i class="icon_table"></i> MATHS</th>
				  <th><i class="icon_table"></i> ENGLISH</th>
				  <th><i class="icon_table"></i> KISWAHILI</th>
				  <th><i class="icon_table"></i> SCIENCE</th>
				  <th><i class="icon_table"></i> SOCIAL</th>
				  <th><i class="icon_table"></i> CRE</th>


				   <th><i class="icon_cogs"></i> Action</th>
				  	 </tr>
				  <tr th:each="country:${countries}">
				  								
				  								
				  <td th:text="${country.examtype}">Description</td>
				  <td th:text="${country.fullname}">Description</td>
				  
				  <td th:text="${country.maths}">Details</td>
				  <td th:text="${country.english}">Details</td>
				  <td th:text="${country.kiswahili}">Details</td>
				  <td th:text="${country.science}">Details</td>
				  <td th:text="${country.social}">Details</td>
				  <td th:text="${country.cre}">Details</td>		
				  <td>
				  										     
				  	<a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" th:href="@{/countries/findById/{id}(id=${country.id})}">Review</a>
					<a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myNewModal" th:href="@{/countries/findById/{id}(id=${country.id})}">Review</a>
				  										                        
				  										                   
				  </td>
				  	</tr>
				  </tbody>
				  </table>
							   
							   
							  
            </div>
          </div>

        </div>
		
			<!-- ======= modal start ======= -->
			<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			      
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			      <!---  This is the content of the modal.----->
				  <h2 class="modal-title" >Student Exam</h2>
					 <form th:action="@{/countries/update}" method="put"  id="editModal1"> 
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="editModalLabel">Review Student Exam</h5>
					        
					      </div>
					      <div class="modal-body" >

					          <div class="form-group">
					            <label for="idEdit" class="col-form-label">Id:</label>
					            <input type="text" class="form-control" id="idEdit" name="id" readonly>
					          </div>

					          <div class="form-group"  style="display: none;">
					            <label for="descriptionEdit" class="col-form-label">Description:</label>
					            <input type="text" class="form-control" id="descriptionEdit" name="description" >
					          </div>
					          
					          <div class="form-group">
					            <label for="codeEdit" class="col-form-label">Mathematics:</label>
					            <input type="text" class="form-control" id="mathEdit" name="maths" readonly>
					          </div> 
							  
							  <div class="form-group">
							  	<label for="codeEdit" class="col-form-label">Mathematics Review:</label>
							  		<input type="text" class="form-control" id="mathReviewEdit" name="reviewmaths"  >
							   </div>
							   
							   
							   
							   <div class="form-group">
							    <label for="codeEdit" class="col-form-label">English:</label>
							    <input type="text" class="form-control" id="englishEdit" name="english" readonly  >
							    </div> 
							   							  
							    <div class="form-group">
							   <label for="codeEdit" class="col-form-label">English Review:</label>
							   <input type="text" class="form-control" id="englishReviewEdit" name="reviewenglish"   >
							    </div> 
								
								

								<div class="form-group">
								 <label for="codeEdit" class="col-form-label">Kiswahili:</label>
								 <input type="text" class="form-control" id="kiswahiliEdit" name="kiswahili" readonly>
								 </div> 
															  
								 <div class="form-group">
								<label for="codeEdit" class="col-form-label">Kiswahili Review:</label>
								<input type="text" class="form-control" id="kiswahiliReviewEdit" name="reviewkiswahili"  >
								 </div> 



								<div class="form-group">
								 <label for="codeEdit" class="col-form-label">Science:</label>
								 <input type="text" class="form-control" id="scienceEdit" name="science" readonly>
								 </div> 
															  
								 <div class="form-group">
								<label for="codeEdit" class="col-form-label">Science Review:</label>
								<input type="text" class="form-control" id="scienceReviewEdit" name="reviewscience"   >
								 </div> 



								<div class="form-group">
								 <label for="codeEdit" class="col-form-label">Social:</label>
								 <input type="text" class="form-control" id="socialEdit" name="social" readonly>
								 </div> 
															  
								 <div class="form-group">
								<label for="codeEdit" class="col-form-label">Social Review:</label>
								<input type="text" class="form-control" id="socialReviewEdit" name="reviewsocial" >
								 </div> 




								<div class="form-group">
								 <label for="codeEdit" class="col-form-label">C.R.E:</label>
								 <input type="text" class="form-control" id="creEdit" name="cre" readonly>
								 </div> 
															  
								 <div class="form-group">
								<label for="codeEdit" class="col-form-label">C.R.E Review:</label>
								<input type="text" class="form-control" id="creReviewEdit" name="reviewcre" >
								 </div> 
								 
								 <div class="form-group">
								  <label for="codeEdit" class="col-form-label">Total:</label>
								  <input type="text" class="form-control" id="totalEdit" name="total" readonly>
								  </div> 
								 							  
								  <div class="form-group">
								 <label for="codeEdit" class="col-form-label">Total Review:</label>
								 <input type="text" class="form-control" id="totalReviewEdit" name="reviewtotal" >
								  </div> 
							   
							    
							   
							   
							   <div class="form-group"  style="display: none;">
							   			<label for="codeEdit" class="col-form-label">Code:</label>
							   			<input type="text" class="form-control" id="codeEdit" name="code">
							   	 </div> 				   			   
							  
							   
							  <div class="form-group" style="display: none;">
							  				            <label for="codeEdit" class="col-form-label">Code:</label>
							  				            <input type="text" class="form-control" id="nameEdit" name="fullname">
							  				          </div>  
								
								 <div class="form-group" style="display: none;">
									 <label for="codeEdit" class="col-form-label">Code:</label>
									 <input type="text" class="form-control" id="examtypeEdit" name="examtype">
								 </div>  
								 <div class="form-group" style="display: none;">
								 <label for="codeEdit" class="col-form-label">Code:</label>
								 <input type="text" class="form-control" id="classnumberEdit" name="classnumber">
								 							 </div>  
															 <div class="form-group" style="display: none;">
															 											 <label for="codeEdit" class="col-form-label">Username:</label>
															 											  <input type="text" class="form-control" id="usernameEdit" name="username">
															 											 </div>
							  
							
					      
					      </div>
					      <div class="modal-footer">
					       
					        <button type="submit" class="btn btn-primary">Save</button>
					      </div>
					    </div>
					  </div>
					</form>
					
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			       
			      </div>
			    </div>
			  </div>
			</div>

			<!-- ======= modal finish ======= -->

			
			
			
			<!-- ======= modal start ======= -->
						<div class="modal fade" id="myNewModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						      
						        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						      </div>
						      <div class="modal-body">
						      <!---  This is the content of the modal.----->
							  <h2 class="modal-title" >Student Exam</h2>
								 <form th:action="@{/countries/update}" method="put"  id="editNewModal"> 
								  <div class="modal-dialog" role="document">
								    <div class="modal-content">
								      <div class="modal-header">
								        <h5 class="modal-title" id="editModalLabel">Review Student Exam</h5>
								        
								      </div>
								      <div class="modal-body" >

								          <div class="form-group">
								            <label for="idEdit" class="col-form-label">Id:</label>
								            <input type="text" class="form-control" id="idMyEdit" name="id" readonly>
								          </div>

								          <div class="form-group"  style="display: none;">
								            <label for="descriptionEdit" class="col-form-label">Description:</label>
								            <input type="text" class="form-control" id="descriptionMyEdit" name="description" >
								          </div>
								          
								          <div class="form-group">
								            <label for="codeEdit" class="col-form-label">Mathematics:</label>
								            <input type="text" class="form-control" id="mathMyEdit" name="maths" >
								          </div> 
										  
										  <div class="form-group">
										  	<label for="codeEdit" class="col-form-label">Mathematics Review:</label>
										  		<input type="text" class="form-control" id="mathMyReviewEdit" name="reviewmaths"    >
										   </div>
										   
										   
										   
										   <div class="form-group">
										    <label for="codeEdit" class="col-form-label">English:</label>
										    <input type="text" class="form-control" id="englishMyEdit" name="english" >
										    </div> 
										   							  
										    <div class="form-group">
										   <label for="codeEdit" class="col-form-label">English Review:</label>
										   <input type="text" class="form-control" id="englishMyReviewEdit" name="reviewenglish" >
										    </div> 
											
											

											<div class="form-group">
											 <label for="codeEdit" class="col-form-label">Kiswahili:</label>
											 <input type="text" class="form-control" id="kiswahiliMyEdit" name="kiswahili" >
											 </div> 
																		  
											 <div class="form-group">
											<label for="codeEdit" class="col-form-label">Kiswahili Review:</label>
											<input type="text" class="form-control" id="kiswahiliMyReviewEdit" name="reviewkiswahili" >
											 </div> 



											<div class="form-group">
											 <label for="codeEdit" class="col-form-label">Science:</label>
											 <input type="text" class="form-control" id="scienceMyEdit" name="science">
											 </div> 
																		  
											 <div class="form-group">
											<label for="codeEdit" class="col-form-label">Science Review:</label>
											<input type="text" class="form-control" id="scienceMyReviewEdit" name="reviewscience" >
											 </div> 



											<div class="form-group">
											 <label for="codeEdit" class="col-form-label">Social:</label>
											 <input type="text" class="form-control" id="socialMyEdit" name="social">
											 </div> 
																		  
											 <div class="form-group">
											<label for="codeEdit" class="col-form-label">Social Review:</label>
											<input type="text" class="form-control" id="socialMyReviewEdit" name="reviewsocial" >
											 </div> 




											<div class="form-group">
											 <label for="codeEdit" class="col-form-label">C.R.E:</label>
											 <input type="text" class="form-control" id="creMyEdit" name="cre">
											 </div> 
																		  
											 <div class="form-group">
											<label for="codeEdit" class="col-form-label">C.R.E Review:</label>
											<input type="text" class="form-control" id="creMyReviewEdit" name="reviewcre" >
											 </div> 
											 
											 <div class="form-group">
											  <label for="codeEdit" class="col-form-label">Total:</label>
											  <input type="text" class="form-control" id="totalMyEdit" name="total" >
											  </div> 
											 							  
											  <div class="form-group">
											 <label for="codeEdit" class="col-form-label">Total Review:</label>
											 <input type="text" class="form-control" id="totalMyReviewEdit" name="reviewtotal" >
											  </div> 
										   
										    
										   
										   
										   <div class="form-group"  style="display: none;">
										   			<label for="codeEdit" class="col-form-label">Code:</label>
										   			<input type="text" class="form-control" id="codeMyEdit" name="code">
										   	 </div> 				   			   
										  
										   
										  <div class="form-group" style="display: none;">
										  				            <label for="codeEdit" class="col-form-label">Code:</label>
										  				            <input type="text" class="form-control" id="nameMyEdit" name="fullname">
										  				          </div>  
											
											 <div class="form-group" >
												 <label for="codeEdit" class="col-form-label">Examtype:</label>
												 <input type="text" class="form-control" id="examtypeMyEdit" name="examtype">
											 </div>  
											 
											 
											 <div class="form-group" >
											 						 <label for="codeEdit" class="col-form-label">Classnumber:</label>
											 						<input type="text" class="form-control" id="classnumberMyEdit" name="classnumber">
											 							 </div>  
																		  <div class="form-group" style="display: none;">
																		 <label for="codeEdit" class="col-form-label">Code:</label>
																		  <input type="text" class="form-control" id="usernameMyEdit" name="username">
																		 </div>
										
								      
								      </div>
								      <div class="modal-footer">
								       
								        <button type="submit" class="btn btn-primary">Save</button>
								      </div>
								    </div>
								  </div>
								</form>
								
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						       
						      </div>
						    </div>
						  </div>
						</div>

						<!-- ======= modal finish ======= --> 
		
			
				
       
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by muleTECHNOLOGY
    </div>
	
  </footer><!-- End Footer -->
  
  
	
	<!-- Modal -->
	

	  <!-- Bootstrap JS and Popper.js -->
	
  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/assets/vendor/quill/quill.js"></script>
  <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/js/main.js}"></script>

 
  <script src="/assets/js/country.js"></script>
  <script src="/assets/js/country1.js"></script>
  <script src="/assets/js/country2.js"></script>
  <script src="/assets/js/country3.js"></script>
  <script src="/assets/js/country4.js"></script>
  <script src="/assets/js/country5.js"></script>
  <script src="/assets/js/country6.js"></script>
  <script src="/assets/js/country7.js"></script>
  

</body>

</html>